
body {
   min-height: 1000px;
}
#columns {
  column-count: 4;
  width: 100%;
  max-width: 1100px;
  margin: 50px auto;
  column-gap: 4px;
}
 
 
 @media screen and (max-width: 750px) { 
   #columns { column-gap: 0px; }
   #columns figure { width: 100%; }
 }
 .product-heart-button{
    position:absolute;
    right:20px;
 }

 .product-slider {
  position: relative;
}
#columns {
  column-count: 4;
  overflow: auto;

}
.filter-selector-tab{
  display:flex;
}
.profile {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #f7f7f7;
}

.header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}
.header h1 {
  font-size: 36px;
}
.rounded-pill{
  border-radius: 50rem;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}
.border-secondary {
  --bs-border-opacity: 1;
  border-color: rgba(108,117,125,1)!important;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  display:flex;
}
#feed-profile-tab{
  display:flex;
  align-items:center;
}
.feed-tab-header{
  border-bottom:1px solid var(--border-color-primary)
}
.feed-tab-default {
  width:100%;
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-color: transparent;
  border-bottom: none;
  border-top-right-radius: var(--container-radius) !important;
  border-top-left-radius: var(--container-radius) !important;
  padding: var(--size-1) var(--size-4) !important;
  color: var(--body-text-color-subdued) !important;
  font-weight: var(--section-header-text-weight) !important;
  font-size: var(--section-header-text-size) !important;
}
.selected.feed-tab-default {
  border-color: var(--border-color-primary);
  background: var(--background-fill-primary);
  color: var(--body-text-color) !important;
  font-weight:700;
  border-bottom:1px solid white;
}
.feed-tab-class{
  display:flex;
  justify-content:space-between;
  width:70%;
}
.feed-tab-class-search{
  display:flex;
  align-items: center;
}

#best-product-tab{
  background: var(--panel-background-fill);
}
.potd{
  font-weight: var(--section-header-text-weight);
  font-size: var(--section-header-text-size);
  margin-bottom:5px;
}

.pinterest-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 8px;
}

.pinterest-column-gallery {
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 8px;
}

.pinterest-item {
  width: calc(25% - 3px);
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}
.pinterest-column-item{
  width:100%;
  margin-bottom: 4px;
  box-sizing: border-box;
  position: relative;
}
.pinterest-column-item img {
  width: 100%;
  height: auto;
  display: block;
}
.pinterest-item img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  pointer-events: auto;
}
.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.7);
  display:flex;
  align-items:center;
}

.item-overlay p {
  color: #FFFFFF !important;
  right: 5px;
  top:5px;
  position: absolute;
  font-size: var(--text-md);
  font-weight: var(--body-text-weight);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width:60%;
}
.liked-button-div{
  color: #FFFFFF !important;
  font-size: var(--text-md);
  font-weight: var(--body-text-weight);
  left: 5px;
  top:5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 3px;
  gap: 4px;
  min-width: 42px;
  max-width:62px;
  height: 20px;
  border-radius: 2px;
  margin-left:5px;
}
.liked-button-div button{
  color: #FFFFFF !important;
}
.already-liked-div{
  background: linear-gradient(180deg, #3041E0 0%, #9330E0 100%);
}
.not-liked-div{
  background: #4B5057
}
#prompt-input{
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.2s ease-in-out;
  color: var(--body-text-color) !important;
  background: var(--input-background-fill);
}
#prompt-input:focus {
  border-color: skyblue;
  outline: none;
}
.btn-write-row{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
font-size: 14px;

}
.btn-cancel{

  width: 66px;
  height: 30px;
  border: 1px solid white !important;
  line-height: 17px !important;
  text-align: center !important;
  color: #FFFFFF !important;
  align-items: center !important;
  justify-content: center !important;
  margin-right:10px !important;
}
.btn-save{
  color: #4B5057 !important;
  background: #888D96 !important;
  width: 85px !important;
  height: 30px !important;
  align-items: center !important;
  justify-content: center !important;
}
.prompt-modal{
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: var(--input-background-fill);
  overflow:scroll;
}
.prompt-modal-page{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.prompt-modal-image{
	max-width: 720px;
  margin: auto;
  flex-basis: 100%;
  background-size: cover;
  background-position: center;
  display:flex;
  height:100vh;
  justify-content: center;
  align-items:center;
}
.prompt-modal-image img{
  max-width:720px;
  max-height:100vh;
}
@media screen and (max-width: 420px) { 
  .prompt-modal-image img{
    height:60vh;
  }
  .prompt-modal-image img{
    max-width:320px;
  }
}
.prompt-modal-sidebar{
  max-width:400px;
  flex-basis: 100%;
  background-color:  rgba(47, 49, 50, 0.8);
  color: white;
}
.modal-sidebar-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
  font-weight: 400;
  font-size: 24.3293px;
  padding-top:12px;
  padding-bottom:12px;
  border: 1px solid #AFB6BD;
}
.modal-like-wrapper{
  min-width:70px;
  max-width:100px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.modal-writer{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700 !important;
  font-size: 14px !important;
  /* identical to box height */
  color: #FFFFFF !important;
}
.modal-writer-time{
  font-weight: 300 !important;
  font-size: 14px !important;
  /* identical to box height */
  text-align: right;
  color: #FFFFFF !important;
}
.modal-writer-type{
  color: white !important;
  border: 1px solid white;
  border-radius: 5px !important;
  background-color: #AFB6BD !important;
  resize: none !important;
  overflow: hidden !important;
  padding: 10px !important;
  width: 95% !important;
  min-height: 39.35px !important;
  transition: height 0.3s ease-in-out !important;
  margin: 10px !important;
}
.write-row-button{
  display:flex;
  justify-content: flex-end;
  width: 95%;
}
.big-liked-button-div button{
  height: 38.73px;
  color: #FFFFFF !important;
  left: 5px;
  top:5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 3px;
  gap: 4px;
  width:100%;
  border-radius: 4.86585px;
}
.modal-writer-wrapper-exit{
  margin-right:10px !important;
}
.prompt-modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  position: relative; /* Add position relative */
  color: black;
}
.prompt-modal-close{
  font-size:50px;
  color: black !important;
}
.prompt-modal-table{
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.prompt-modal-table td, .prompt-modal-table th {
  padding: 5px;
  border: 1px solid #ccc;
  color: black !important;
}
.prompt-send-to{
  display:flex;
  justify-content: center;
  margin-top:10px;
}
.btn-send-to {
  color: white !important;
  padding: 14px 20px !important;
  border: none !important;
  cursor: pointer !important;
  margin-bottom:0px !important;
  border: 1px solid #AFB6BD !important;
  border-radius: 5px !important;
}

.btn-send-to-img {
  right: 20px;
  margin-right: 20px !important;
}

.btn-send-to-text {
  margin-right:10px !important;
}
